@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

:root {
  --panel-left-margin: 150px;
  --panel-top-margin: 13%;
  --icon-margin: 25px;
  --header-color: #705f5a;
  --header-text-color: black;
  --background-color: #7b6863;
  --text-color: #221b19;
  --primary-color: #482a2b;
  --second-color: #9d9796;
  --strong-color: #d85f04;
  --table-font-color: black;
  --table-hover-color: #e0e0e0;
  --theme-btn-hover-color: #5e504c;
}

body {
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-user-select: none;
  background-color: var(--background-color);
  font-family: "Montserrat";
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: var(--text-color);
  background-color: var(--background-color);
}

#canvas3d {
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 0 !important;
  /* margin-top: -50px; */
  width: 45vw !important;
  height: 100vh !important;
}

header {
  width: 100%;
  height: 90px;
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  color: var(--header-text-color);
  transition: all 0.5s;
}

header:hover {
  background-color: var(--header-color);
}

header > h2 {
  margin-left: var(--panel-left-margin);
  line-height: 25px;
  font-weight: bolder;
  font-size: 2.75rem;
}

#theme {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  padding: 10px 15px;
  border: none;
  font-size: 2rem;
  z-index: 12;
  color: var(--header-text-color);
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s;
}

#menu {
  font-size: 2.3rem;
  position: fixed;
  top: 19px;
  right: 30px;
  padding: 8px 13px;
  background-color: transparent;
  border: none;
  z-index: 12;
  color: var(--header-text-color);
  cursor: pointer;
  border-radius: 50%;
  margin-right: 50px;
  opacity: 0;
  transition: all 0.5s;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  z-index: 9;
  display: none;
}

.menu > i {
  font-size: 1.7rem;
  position: fixed;
  color: #fff;
  right: 40px;
  top: 40px;
  cursor: pointer;
}

.menu i:hover {
  color: var(--second-color);
}

.menu a {
  width: 40%;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  padding: 2rem;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 10rem;
}

.menu a:hover {
  color: var(--second-color);
  border-color: var(--second-color);
}

#theme:hover,
#menu:hover {
  background-color: var(--theme-btn-hover-color);
}

#nav {
  display: flex;
  align-items: center;
  float: right;
  margin-right: 10%;
}

#nav > .nav-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.nav-container > i {
  font-size: 1.5rem;
  padding-right: var(--icon-margin);
}

.nav-container > p {
  font-size: 1.5rem;
  margin-right: 8px;
  font-weight: 600;
}

header .nav-container::before,
.selection-box > a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: var(--text-color);
  transition: 0.3s ease;
}

.selection-box > a::before{
    position: relative;
    bottom: -30px;
}

header .nav-container:hover::before {
  width: calc(100% - var(--icon-margin));
  left: 0;
}

.selection-box > a:hover::before {
  width: 100%;
  left: 0;
}

.selection-box {
  padding-top: 4px;
  box-sizing: border-box;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  width: calc(100% - var(--icon-margin));
  top: 67px;
  height: 100px;
  border: 3px solid var(--header-text-color);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 100;
  opacity: 0;
}

header .nav-container:hover .selection-box {
  display: flex;
  animation-delay: 0.4s;
}

.selection-box > a {
  text-decoration: none;
  color: var(--header-text-color);
  font-size: 1.3rem;
}

.selection-box > a:not(:first-child) {
  margin-top: 7px;
}


header .nav-container:hover #selection-box-1{
    animation: slideContentUp1 1s ease-out both;
}

header .nav-container:hover #selection-box-2{
    animation: slideContentUp2 1.3s ease-out both;
}

header .nav-container:hover #selection-box-3{
    animation: slideContentUp3 1s ease-out both;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.panel {
  width: calc(50%);
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;
  z-index: 0;
  padding-top: var(--panel-top-margin);
  line-height: 40px;
  color: var(--text-color);
  display: inline-block;
}

.panel > ul {
  margin-left: 20%;
}

.panel > li {
  margin: 10px auto;
  text-align: left;
}

.table-section {
  width: 50%;
  margin: 0px auto;
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  height: 60%;
  color: var(--text-color);
}

.table-section > div > h3 {
  font-size: 2.5rem;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  color: var(--table-font-color);
}

.data-table caption {
  font-size: 2em;
  font-weight: 800;
  margin: 1em 0;
}

th,
td {
  border: 1px solid #999;
  text-align: center;
  padding: 20px 0;
  color: var(--contrast-color);
}

.data-table tbody tr {
  background-color: #fff;
}

.data-table tbody tr:nth-child(odd) {
  background-color: #eee;
}

table tbody tr td:first-child {
  font-weight: 600;
}

.data-table tbody tr:hover:not(:first-child) {
  background-color: var(--table-hover-color);
}

.data-table tbody tr td > strong {
  color: #d85f04;
  font-size: large;
}

.data-table tfoot tr td {
  text-align: right;
  padding-right: 10px;
}

.panel > table {
  margin-left: 20%;
}

.regular-button {
  color: var(--header-text-color);
  font-weight: 600;
  text-decoration: none;
  border: 3px solid var(--text-color);
  border-radius: 30px;
  padding: 10px 10px;
  margin-top: 40px;
  transition: all 0.3s;
}

.regular-button:hover {
  background-color: var(--header-color);
}

#next-page {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 40px / 2);
  font-size: 30px;
  color: var(--text-color);
  border-radius: 50%;
  border: 2px solid var(--text-color);
  padding: 3px 7px;
  z-index: 10;
  transition: all 0.3s;
}

#next-page:hover {
  background-color: var(--header-color);
}

#stat {
  font-size: 3.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#stat-table1,
#stat-table2 {
  width: 55%;
  height: 500px;
  margin: 50px auto;
}

#first-page {
  position: fixed;
  bottom: 13%;
  right: 5%;
  font-size: 30px;
  color: var(--text-color);
  border-radius: 50%;
  border: 2px solid var(--text-color);
  padding: 3px 7px;
  z-index: 10;
  transition: all 0.3s;
}

#first-page:hover {
  background-color: var(--header-color);
}

footer {
  width: 100%;
  background-color: var(--header-color);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--text-color);
  z-index: 10000;
}

.footer-icon-container {
  width: 20%;
  display: flex;
  justify-content: flex-start;
}
.footer-icon-container > i {
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.5s;
}

.footer-img-container {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.footer-img-container > img {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.5s;
}

@media screen and (max-width: 1100px) {
  :root {
    font-size: 13px;
    --panel-left-margin: 80px;
    --icon-margin: 15px;
  }
  .panel {
    width: 100%;
    margin: 0 0;
  }
  .table-section {
    width: 70%;
  }
  .panel > ul {
    margin-left: 15%;
  }
  #canvas3d {
    position: relative;
    z-index: 100 !important;
    right: 0px;
    width: 90vw !important;
    height: 100vh !important;
    zoom: 80%;
  }
  #stat-table1,
  #stat-table2 {
    zoom: 50%;
    width: 75%;
  }
}

@media screen and (max-width: 700px) {
  :root {
    font-size: 13px;
    --panel-left-margin: 80px;
    --panel-top-margin: 200px;
    --icon-margin: 15px;
  }
  header {
    height: 70px;
  }
  .table-section {
    width: 90%;
  }
  .panel > ul {
    margin-left: 5%;
  }
  #menu {
    transition: opacity 1s;
  }
  .footer-icon-container > i {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .footer-img-container > img {
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
  #canvas3d {
    position: relative;
    z-index: 100 !important;
    right: 0px;
    width: 100vw !important;
    height: 100vh !important;
    zoom: 80%;
  }
  #stat-table1,
  #stat-table2 {
    zoom: 40%;
    width: 75%;
  }
}

@media screen and (max-width: 450px) {
  :root {
    font-size: 9px;
    --panel-left-margin: 20px;
  }
  #theme,
  #menu {
    top: 15px;
  }
  .footer-img-container {
    display: none;
  }
  .footer-icon-container {
    margin-left: 15px;
  }
  footer > h4 {
    margin-right: 15px;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideContentUp1 {
    0% {
      border: none;
      height: 0;
    }
    30% {
      height: 0px;
      opacity: 0;
    }
    50%{
    height: 85px;
        
    }
    100%{
        height: 85px;
    
      opacity: 1;
    }
  }

@keyframes slideContentUp2 {
    0% {
      border: none;
      height: 0;
    }
    30% {
      height: 0px;
      opacity: 0;
    }
    50%{
        height: 260px;
    }
    90%,100%{
    height: 260px;;
      opacity: 1;
    }
  }

  @keyframes slideContentUp3 {
    0% {
      border: none;
      height: 0;
    }
    30% {
      height: 0px;
      opacity: 0;
    }
    50%{
    height: 190px;
        
    }
    100%{
        height: 190px;
    
      opacity: 1;
    }
  }
