@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

:root{
    --panel-left-margin: 150px;
    --icon-margin: 25px;
    --header-color: #693d3e;
    --header-text-color: black;
    --background-color: #7b6863;
    --text-color: #221b19;
    --primary-color: #482a2b;
    --second-color: #db7e3e;
}

body {
  margin: 0;
  overflow: hidden;
}

html,
body {
  -webkit-user-select: none;
  height: 100%;
  background-color: var(--background-color);
  font-family: 'Montserrat';
  transition: all 2s ease-out;
  /* color: #fff; */
}
canvas {
  position: fixed;
  top: 50px;
  right: 30px;
  z-index: 0 !important;
  /* margin-top: -50px; */
  width: 55vw !important;
  height: 100vh !important;
}

header{
    width: 100%;
    height: 90px;
    z-index: 10;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    color: var(--header-text-color);
    transition: all 0.5s;
}

header:hover{
    background-color: var(--header-color);
}

header > h2{
    margin-left: var(--panel-left-margin);
    line-height: 25px;
    font-weight: bolder;
    font-size: 40px;
}

#theme{
    position: fixed;
    top: 15px;
    right: 20px;
    background-color: transparent;
    padding: 10px 15px;
    border: none;
    font-size: 40px;
    z-index: 12;
    color: var(--header-text-color);
    cursor: pointer;
    border-radius: 50%;
}

#theme:hover{
    background-color: var(--header-color);
}

#nav{
    display: flex;
    align-items: center;
    float: right;
    margin-right: 10%;
}

#nav > .nav-container{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.nav-container > i{
    font-size: 20px;
    padding-right: var(--icon-margin);
}

.nav-container > p{
    font-size: 20px;
    margin-right: 8px;
    font-weight: 600;
}

header .nav-container::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 0%;
    height: 3px;
    border-radius: 3px;
    background-color: var(--text-color);
    transition: 0.3s ease;
}

header .nav-container:hover::before{
    width: calc(100% - var(--icon-margin));
    left: 0;
}

.left-panel{
    height: 100vh;
    width: 300px;
    font-size: larger;
    z-index: 1000;
    margin-left: 150px;
    padding-top: 380px;
    color: var(--text-color);
}

footer{
    width: 100%;
    height: 1000px;
    background-color: red;
    z-index: 100;
}